.temp {
  text-align: center;
}
a{
  color: goldenrod;
}
a:hover{
  color: goldenrod;
}
.title p {

  text-align: left;
}
.btn {
  border-color: black;
  background-color: transparent;
  padding: 20px;
  color: black;
  margin: 5px 5px 5px 5px;
  font-size: 10px;
}
.btn:hover {
  background-color: black;
  color: white;
}
