<div class="animated fadeInUp">
  <div class="container title ">
    <h1>COMP 417: Introduction to Robotics and Intelligent Systems</h1>
    <h3>Fall 2018  - Professor Gregory Dudek</h3>
    <a href="http://www.cim.mcgill.ca/~dudek/417.html">Course Website</a>&nbsp;&nbsp;
    <a href="http://www.cim.mcgill.ca/~dudek/417/L0_417_syllabus.pdf">Course Outline</a>&nbsp;&nbsp;
    <a href="https://www.mcgill.ca/study/2018-2019/courses/comp-417">Course Info</a>

    <hr><br>
    <p>Personally, the course was quite confusing and required a lot of self-studying. From the listed pre-reqs, linear algebra 2 [Math 223] is quite necessary - make sure to know the basics of transformations, finding determinants etc. Otherwise, the grading was very generous and exams were easy.</p>
    <p>The assignments in this course were coded in Python and used all sorts of packages (i.e. cv2, numpy etc.)so make sure to study up on that language and the documentation. There is very little to no guidance on actual coding in class. It's strongly advised to seek help from the TA for assignments and look for sources online.</p>
    <p>Otherwise, I thoroughly enjoyed the content of the course.</p>

    <p>I strongly recommend <a style="font-size: 1em;"
                               href="https://www.udacity.com/course/artificial-intelligence-for-robotics--cs373">Sebastian Thrun's AI course on Udacity</a>.
      In my opinion, concepts are more comprehensive and taught more clearly than in class.</p>
    <div class="temp" style="text-align: center">
      <button
              class="btn" (click)="show417()"
              type="button">{{buttonDisplay}}
      </button>
      <button *ngIf="show" class="btn" (click)="download417()"> Download</button>
    </div>
  </div>
  <ng-container *ngIf="show">
    <div>
      <p style="margin-left:45px;text-align: center">It may take 3 secs for the notes to load.</p>
    </div>
    <hr style="max-width: 800px">
    <pdf-viewer [src]="pdfSrc"
                [render-text]="true"
                [show-all]="true"
                style="display: block;"></pdf-viewer>
  </ng-container>
</div>




